[Desktop Entry]
Name=ManDVD
Comment=DVD Video creator
Comment[de]=DVD Video Kreator
Comment[pl]=Kreator DVD Video
Exec=mandvd
Icon=mandvdico
Terminal=false
MultipleArgs=false
Type=Application
Categories=Qt;KDE;Audio;
